@model Common.DTO.AddUserViewModel
<form asp-action="DeleteManager" asp-controller="Restaraunt" method="post">
	<div asp-validation-summary="All" class="input-group mb-3">

		<input class="form-control" type="hidden" asp-for="restarauntId" value=@Model.restarauntId.ToString()>
		<input type="text" class="form-control " asp-for="Email" id="inlineFormInputName" readonly value="@Model.Email">

		<div class="input-group-append">
			<button class="btn btn-danger type="submit">Удалить</button>
		</div>
	</div>
</form>
