
@model Common.DTO.AddUserViewModel
<form asp-action="AddManager" asp-controller="Restaraunt" method="post">
	<div asp-validation-summary="All" class="input-group mb-3">

				<input class="form-control" type="hidden" asp-for="restarauntId" value=@Model.restarauntId.ToString()>
				<input class="form-control" asp-for="Email">		

			<div class="input-group-append" >
				<button class="btn btn-outline-secondary" type="submit">Submit</button>
			</div>
		</div>
	</form>