@using Common.Enums;
@model List<Common.DTO.RestarauntDTO>
<div class="row">
	<div class="col-12">
		<h1>Каталог ресторанов</h1>
		@if (User.IsInRole(ApplicationRoleNames.Administrator)) {
			<div class="mb-2">
				<a asp-action="Create" asp-controller="Restaraunt" class="btn btn-outline-primary btn-sm">Создать</a>
			</div>
		}

		@if (Model.Any()) {
			<div class="container row">
				@foreach (var restaraunt in Model) {
					<a asp-action="Details" asp-controller="Restaraunt" asp-route-id="@restaraunt.Id" class="col-4 text-decoration-none text-black">
						<div class="card">
							<div class="card-header">@restaraunt.Name  </div>
							<div class="card-body">
								
								<img src="@restaraunt.PhotoUrl" class="img-fluid">
							</div>
						</div>
					</a>
				}
			</div>
		}
		else {
			<div class="alert alert-info">
				Каталог ресторанов пуст
			</div>
		}
	</div>
</div>

